@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Sono:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
    --color1: #002547;
    --color2: #3e5eb3;
    --color3: #557ade;
}




